body {
  background-image: url(bg.jpg);
  background-color: rgb(214, 255, 67);
  width: 1920px;
  height: 1080px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1, h2, p, ul, li {
  font-family: Arial;
  color: rgb(0, 0, 0);
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: auto;
}
ul.header {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100px; 
  height: 700px;
  position: absolute;
  left: 100px;
  top: 124px;
  padding: 0;
}
ul.header li a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: rgba(255, 255, 255, 0.7);
  width: 720px;
  height: 700px;
  position: absolute;
  left: 400px;
  top: 124px;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: auto;
}
.content li {
  margin-bottom: auto;
}
.active {
  background-color: rgba(0, 0, 0, 0.5);
}